# Server address
SERVER_ADDR=your_server_address # Example: localhost:8080

# Database Configuration
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=your_mysql_password
DB_NAME=your_database_name

# Xendit API Keys (Get from dashboard.xendit.co)
XENDIT_SECRET_KEY=xnd_development_xxxxxxxxxxxxxxxxxxx
XENDIT_PUBLIC_KEY=xnd_public_development_xxxxxxxxxxxxxxxxxxx
XENDIT_WEBHOOK_KEY=xnd_webhook_xxxxxxxxxxxxxxxxxxxx

# object storage
R2_ACCOUNT_ID=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
R2_ACCESS_KEY_ID=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
R2_SECRET_ACCESS_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# Email Configuration (Gmail Example)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_EMAIL=your-email@gmail.com
SMTP_PASSWORD=your-16-char-app-password # Example: abcdefgh12345678

# Application Settings
DEFAULT_TRANSPORT_FARE=13.00 # Default fare for transportation
FARE_EXCEED_4KM=2.00 # Additional fare for distances exceeding 4km
LOYALTY_POINTS_RATE=0.002 # Application earns 0.2% of fare as loyalty points
PWD_DISCOUNT_RATE=0.20 # 20% discount for PWD
STUDENT_DISCOUNT_RATE=0.20 # 20% discount for Students
SENIOR_DISCOUNT_RATE=0.20 # 20% discount for Senior Citizens

# Security
JWT_SECRET=your-secure-random-string-here
SESSION_TIMEOUT=timeout_in_seconds # Example: 3600 for 1 hour