#ignoring the enviroment
.env
.unknown

# gitgore the compiled file and 
*.exe
*.txt

# gitgore the storage directory
storage/*
!storage/.gitkeep
storage/**/*
!storage/**/.gitkeep

tested/*
tested/**/*

testdata/*
testdata/**/*